<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
      <div class="card"  style="padding: 10%; ">
    <h5 class="card-header" style="font-size: 50px;">Fill the form below:</h5>
    <div class="card-body">
      <form class="form" style="padding-bottom: 10%;">
      FirstName: <input name="name" type="text" [(ngModel)] = "fname" class="feedback-input" placeholder="Name" />  
        LastName: <input name="lastname" type="text" [(ngModel)] = "lname" class="feedback-input" placeholder="Lastname" /><br>
        <br><p>Fullname: <b>{{fname}} {{lname}}</b></p>

        Enter Email Address: <input name= "email" type="text" [(ngModel)]="email" class="feedback-input" placeholder="Email" /><br>
        <br><p>Email: <b>{{email}}</b></p>

        Enter Institution/Affiliation: <input name = "ins" type="text" [(ngModel)]="insti" class="feedback-input" placeholder="Institution" />
        <br><p>Academic Institution: <b>{{insti}}</b></p>
        <button href="#" class= "btn btn-primary" on-click ="showData($event)" style="margin-bottom:auto;">Hello World!</button>
        </form>

     
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
