<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  
<!--Header section-->

<div id="main" style="padding: 10%; text-align: center; background-image: 
url(/assets/myPic.jpg); background-repeat: no-repeat; background-size: cover;">
<div style="padding: 10%; background-color: rgba(0, 0, 0, 0.733); opacity: 0.5;" >
  <h5 class="card-title" style="color: aliceblue; font-size: 50px;">{{titles}}</h5>
  <h5 class="card-title" style="color: aliceblue; font-size: 30px;" >
    Join our online events this 2021!</h5>
  <br/>
  <br/>
  <a href="" class="btn btn-outline-light"> Early Bird Registration</a>

</div>

</div>

<!--different cards -->
<div class="card">
    <div class="card-body" style="font-size: 50px; text-align: center; font-weight: 
    bold;" >
     Join our Research Conferences around the Globe!
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/myFrance.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">France</h5>
        <p class="card-text">The largest country in Western Europe, has long 
        been a gateway between the continent's northern and southern
        regions. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: large;">Architecture and Fine Arts</small>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: large;">Cultural Events</small>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: large;">Safety and Security</small>
      </div>
      <div class="card-footer">
        <a href="#">Learn More</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/myKorea.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Seoul</h5>
        <p class="card-text">Seoul, Korean Sŏul, formally Sŏul-t’ŭkpyŏlsi (“Special City of Seoul”), city and capital of South Korea (the Republic of Korea).</p>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: large;">Humanities an Arts</small>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: large;">Cultural Events</small>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: large;">Safety and Security</small>
      </div>
      <div class="card-footer">
        <a href="#">Learn More</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="./assets/mySan.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">San Francisco </h5>
        <p class="card-text">It is a cultural and financial centre of the Western
            United States and one of the Country's most cosmoplitan cities
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: large;">Science and Technology</small>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: large;">Cultural Events</small>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="font-size: large;">Safety and Security</small>
      </div>
      <div class="card-footer">
        <a href="#" >Learn More</a>
      </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="./assets/myBoston.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Boston</h5>
          <p class="card-text">Best knows for its famous baked beans, Fenway Park, The Boston Marathon, and of course
              for the bar from Cheers.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted" style="font-size: large;">Engineering and Tech</small>
        </div>
        <div class="card-footer">
            <small class="text-muted" style="font-size: large;">Cultural Events</small>
          </div>
          <div class="card-footer">
            <small class="text-muted" style="font-size: large;">Safety and Security</small>
          </div>
          <div class="card-footer">
            <a href="#">Learn More</a>
          </div>
      </div>

  </div>
</body>
</html>
