<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="text-center">
  <br/>
  <br/> 
  <hr/> 
  <h1 style= "font-family: 'VOGUE'; font-weight: bolder; font-size: 100px; margin-bottom:0.5%; color: #630000; " >ARVIN LLOYD NON</h1> <hr/>
  <p style= "font-family: 'Helvetica';  font-weight: bold; font-size: 25px; margin-top: 0.5%;">WEB DEVELOPER • SOFTWARE ENGINEER • GRAPHIC DESIGNER  </p>
  <br/>
  <a class="btn btn-primary" href="https://www.facebook.com/avnnon/" role="button" style="margin-right: 2%;">Facebook </a>
  <a class="btn btn-danger" href="https://www.facebook.com/avnnon/" role="button" style="margin-right: 2%;">Messenger </a>
  <a class="btn btn-info" href="https://www.linkedin.com/in/arvin-non-9717a71ba/" role=" button;" style="margin-right: 2%;">LinkedIn</a>
  <a class="btn btn-dark" href="https://github.com/arvinnon" role="button" style="margin-right: 2%;">Github</a>
</div>
<br/>
<br/> 
<div class="container">
<div class="card">
  <div class="card-block">
    <h2 style="text-align:left; font-family: 'VOGUE'; font-size: 50px; font-weight: bold;">CONTACT</h2>
    <form action="" class="reveal-content">
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email" style="background-color:#541212; color: black;">
      </div>
      <br/>
      <div class="form-group">
        <input type="text" class="form-control" id="subject" placeholder="Subject" style="background-color:#541212; color: black;">
      </div>
      <br/>
      <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Enter your message" style="background-color: #541212; color: black;"></textarea>
      </div>
      <br/>
      <div class="form-group">
        <button type="submit" class=" btn btn-primary">Send message</button>
      </div> 
    </form>
  </div>
</div>
</div>