<!-- ABOUT COMPONENT-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <div class="text-center">
    <br/>
    <br/> 
    <hr/> 
    <h1 style= "font-family: 'VOGUE'; font-weight: bolder; font-size: 100px; margin-bottom:0.5%; color: #630000; " >ARVIN LLOYD NON</h1> <hr/>
    <p style= "font-family: 'Helvetica';  font-weight: bold; font-size: 25px; margin-top: 0.5%;">WEB DEVELOPER • SOFTWARE ENGINEER • GRAPHIC DESIGNER  </p>
    <br/>
    <a class="btn btn-primary" href="https://www.facebook.com/avnnon/" role="button" style="margin-right: 2%;">Facebook </a>
    <a class="btn btn-danger" href="https://www.facebook.com/avnnon/" role="button" style="margin-right: 2%;">Messenger </a>
    <a class="btn btn-info" href="https://www.linkedin.com/in/arvin-non-9717a71ba/" role=" button;" style="margin-right: 2%;">LinkedIn</a>
    <a class="btn btn-dark" href="https://github.com/arvinnon" role="button" style="margin-right: 2%;">Github</a>
  <br/>
  <br/>
  <br/>
  <main class="content-wrapper">
    <header class="white-text-container section-container">
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
           <div class="card" style="text-align: center;">
             <div class="card-block">
               <h2 style="text-align:left; font-family: 'VOGUE'; font-size: 50px; font-weight: bold;">ABOUT</h2>
               <p style="text-align: justify;">An enthusiastic fresher with highly motivated and leadership skills having Bachelors of Information Technology Degree in Web Development. 
                 A graduate that is passionate about web designing and machine learning. Highly-capable leader, having participated in multiple project completion. 
                 Proficient in a range of modern technologies including Java Script, Bootstrap, HTML and CSS.</p>
               </div>
             </div>
           </div>
           </div>
           </div>
           



 