<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<div class="text-center">
  <br/>
  <br/> 
  <hr/> 
  <h1 style= "font-family: 'VOGUE'; font-weight: bolder; font-size: 100px; margin-bottom:0.5%; color: #630000; " >ARVIN LLOYD NON</h1> <hr/>
  <p style= "font-family: 'Helvetica';  font-weight: bold; font-size: 25px; margin-top: 0.5%;">WEB DEVELOPER • SOFTWARE ENGINEER • GRAPHIC DESIGNER  </p>
  <br/>
  <a class="btn btn-primary" href="https://www.facebook.com/avnnon/" role="button" style="margin-right: 2%;">Facebook </a>
  <a class="btn btn-danger" href="https://www.facebook.com/avnnon/" role="button" style="margin-right: 2%;">Messenger </a>
  <a class="btn btn-info" href="https://www.linkedin.com/in/arvin-non-9717a71ba/" role=" button;" style="margin-right: 2%;">LinkedIn</a>
  <a class="btn btn-dark" href="https://github.com/arvinnon" role="button" style="margin-right: 2%;">Github</a>
</div>
<br/>
<br/> 

<div  class="container">
<div class="card">
  <div class="card-block">
    <h2 style="text-align:left; font-family: 'VOGUE'; font-size: 50px; font-weight: bold;">EDUCATIONAL BACKGROUND</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="education-experience">
          <small class="date">2007-2013</small>
          <h3 class="h5 date-title">Elementary</h3>
          <p>Lakandula Elementary School</p>
        </div>
        
      </div>
      <div class="col-md-4">
        <div class="education-experience">
          <small class="date">2013-2018</small>
          <h3 class="h5 date-title">Junior and Senior High School</h3>
          <p>Holy Angel University</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="education-experience">
          <small class="date">2018-Present</small>
          <h3 class="h5 date-title">College</h3>
          <p>Holy Angel University</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<div  class="container">
  <div class="card">
    <div class="card-block">
      <h2 style="text-align:left; font-family: 'VOGUE'; font-size: 50px; font-weight: bold;">ACHIEVEMENTS & ORGANIZATION</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="education-experience">
            <small class="date">2013-2016</small>
            <h3 class="h5 date-title">With Distinction</h3>
            <p>Holy Angel University</p>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="education-experience">
            <small class="date">2017-2018</small>
            <h3 class="h5 date-title">With Honors</h3>
            <p>Holy Angel University</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="education-experience">
            <small class="date">2018</small>
            <h3 class="h5 date-title">With High Honors</h3>
            <p>Holy Angel University</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="education-experience">
            <small class="date">2020-2021</small>
            <h3 class="h5 date-title">Multimedia Officer</h3>
            <p>Code Geeks</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="education-experience">
            <small class="date">2019-2021</small>
            <h3 class="h5 date-title">Dean and President's Lister</h3>
            <p>Holy Angel University</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="education-experience">
            <small class="date">2021- Present</small>
            <h3 class="h5 date-title">President</h3>
            <p>Code Geeks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
